  <h2>{{uid}}</h2>
  <p>{{{description}}}<p>
  <div class="abstractHolder">
    In This Section
    {{#in_this_section}}
      <div class="menu">
        <xref uid={{.}} template="partials/in_this_section_item.tmpl" />
      </div>
    {{/in_this_section}}
  </div>